<!-- ==============================================
MAIN NAV
=============================================== -->
<div id="main-nav" class="navbar navbar-toggleable-md fixed-top">
	<div class="container">
		
		<div class="navbar-header">
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
		</div>
		
		<div id="site-nav" class="collapse navbar-collapse site-nav">
			
			<app-navigation [navClass]="'nav navbar-nav'"></app-navigation>

		</div><!--End navbar-collapse -->
		<div class="site-nav hidden-md-down">
			<ul class="nav navbar-nav pull-right social-links">
				<li class="nav-item"><a class="nav-link" href="https://twitter.com/_nysmoon_" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.facebook.com/uxupbusiness" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/natashasukhinina" target="_blank"><i class="fa fa-linkedin-square" target="_blank"></i></a></li>
			</ul>
			</div>
	</div><!--End container -->
	
</div><!--End main-nav -->