<section id="about" class="big-padding">
	<div class="container">
		<h1 class="section-title">My Profile</h1>
		<hr>
		<div class="row profile">
			<div class="col-10 offset-1 text-center">
				<figure class="hover-wrapper scrollimation fade-right">
					<img class="img-fluid rounded-circle profile-img" src="../assets/images/profile-img.png">
					<figcaption class="hover-text">That's Me!</figcaption>
				</figure>
				<h2 class="scrollimation fade-left">Natasha Sukhinina</h2>
				<h3 class="scrollimation fade-left">Web Developer / UX Expert</h3>
				<p class="margin-top scrollimation fade-right">Hi! I am Natasha, a web developer. I have graduated from Iowa State University with a Master&#39;s degree of Human Computer Interaction, which is better known as User Experience, or UX. I have a passion for developing intuitive and beautiful products.</p>
				<p class="lead margin-top scrollimation fade-left"><span class="main-color">W</span>eb <span class="main-color">D</span>evelopment is not just a job for me, it&#39;s a passion. </p>
			</div>
		</div>
	</div>
</section>

<section id="portfolio" class="big-padding gray-bg">
	<div class="container">
		<h1 class="section-title">Latest Project</h1>
		<!-- Project 1 -->
		<hr>
		<div class="row">

			<div class="col-5 push-down scrollimation fade-right">

				<h2 class="row-title">OoklaSvecla - Young Artist</h2>

				<p>My favorite project for my favorite little artist. It will help him organize all his artwork.</p>
				<p style="color: red;">The website is under construction. Just adding some awesomeness to it!</p>

				<p><a class="btn btn-dc btn-small btn-main-color" href="http://www.ooklasvecla.com" target="_blank">Visit Website</a></p>

			</div>

			<div class="col-6 offset-1 scrollimation fade-left">
				<img class="img-fluid" src="../assets/images/projects/ookla-svecla.png" alt="OoklaSvecla Project">
			</div>

		</div>
		<!-- /Project 1 -->
		<!-- Project 2 -->
		<hr>
		<div class="row">

			<div class="col-6 scrollimation fade-left">
				<img class="img-fluid" src="../assets/images/projects/larisa.png" alt="Larisa Dostal Project">
			</div>

			<div class="col-5 offset-1 push-down scrollimation fade-right">

				<h2 class="row-title">Larisa Dostal - Russian Realtor in Dallas</h2>

				<p>Personal website for a realtor.</p>

				<p><a class="btn btn-dc btn-small btn-main-color" href="http://www.larisadostal.com/" target="_blank">Visit Website</a></p>

			</div>

		</div>
		<!-- /Project 2 -->
		<!-- Project 3 -->
		<hr>
		<div class="row">

			<div class="col-5 push-down scrollimation fade-right">

				<h2 class="row-title">Stretching Beyond Limits</h2>

				<p>Specialized training in flexibility, strength and technique for dancers, athletes and performers of various disciplines.</p>

				<p><a class="btn btn-dc btn-small btn-main-color" href="http://stretchingbeyondlimits.com/" target="_blank">Visit Website</a></p>

			</div>

			<div class="col-6 offset-1 scrollimation fade-left">
				<img class="img-fluid" src="../assets/images/projects/sblimits.png" alt="Stretching Beyond Limits Project">
			</div>

		</div>
		<!-- /Project 3 -->
	</div>

</section>

<section id="services" class="big-padding">

	<div class="container">

		<h1 class="section-title">My Toolbox</h1>
		<hr>
		<div class="row scrollimation fade-left">
			<div class="col-12 col-sm-4 service-item">
				<div class="service-icon "><i class="fa fa-html5"></i></div>
				<h3>HTML5</h3>
				<em>Clean Code</em>
			</div>

			<div class="col-12 col-sm-4 service-item">
				<div class="service-icon "><i class="fa fa-css3"></i></div>
				<h3>CSS3</h3>
				<em>Modern Styles</em>
			</div>

			<div class="col-12 col-sm-4 service-item">
				<div class="service-icon "><i class="fa fa-mobile"></i></div>
				<h3>Bootstrap</h3>
				<em>Responsive Design</em>
			</div>
		</div>
		<div class="row scrollimation fade-right">
			<div class="col-12 col-sm-4 service-item">
				<div class="service-icon"><img src="assets/images/angular-icon.png" alt="Angular Icon"></div>
				<h3>Angular</h3>
				<em>High Performance</em>
			</div>

			<div class="col-12 col-sm-4 service-item">
				<div class="service-icon"><i class="fa fa-cloud" aria-hidden="true"></i></div>
				<h3>Heroku</h3>
				<em>Reliable Hosting</em>
			</div>

			<div class="col-12 col-sm-4 service-item">
				<div class="service-icon"><img src="assets/images/firebase-icon.png" alt="Firebase Icon"></div>
				<h3>Firebase</h3>
				<em>Data processing</em>
			</div>

		</div>
	</div>
</section>

<section id="cta1" class="bg-main-color cta about-header">
	<div class="container text-center scrollimation fade-up">
		<p>Have questions?</p>
		<a class="btn btn-dc btn-white scrollto" [routerLink]="['/contact']">Contact Me</a>
	</div>
</section>

<app-footer></app-footer>
