<!-- ==============================================
	ABOUT
	=============================================== -->
	<section id="about" class="big-padding">

		<div class="container">

			<h1 class="section-title">My Profile</h1>
			<hr>

			<div class="row profile">

				<div class="col-10 offset-1 text-center">

					<figure class="hover-wrapper scrollimation fade-right">
						<img class="img-fluid rounded-circle profile-img" src="../assets/images/profile-img.png">
						<figcaption class="hover-text">That's Me!</figcaption>
					</figure>

					<h2 class="scrollimation fade-left">Natasha Sukhinina</h2>
					<h3 class="scrollimation fade-left">Web Developer / UX Expert</h3>

					<p class="margin-top scrollimation fade-right">Hi! I am Natasha, a web developer. I have graduated from Iowa State University with a Master&#39;s degree of Human Computer Interaction, which is better known as User Experience, or UX. I have a passion for developing intuitive and beautiful products.</p>

					<p class="lead margin-top scrollimation fade-left"><span class="main-color">W</span>eb <span class="main-color">D</span>evelopment is not just a job for me, it&#39;s a passion. </p>
					<!-- <p class="scrollimation fade-left"><a class="btn btn-dc btn-main-color scrollto" href="#portfolio">My Portfolio</a></p> -->

				</div>

			</div>

		</div>

	</section>


					<!-- ==============================================
						LATEST PROJECTS
						=============================================== -->
						
						<section id="portfolio" class="big-padding gray-bg">
							
							<div class="container">
								
								<h1 class="section-title">Latest Project</h1>
								<hr>
								<div class="row">
									
									<div class="col-5 push-down scrollimation fade-right">
										
										<h2 class="row-title">OoklaSvecla - Young Artist</h2>
										
										<p>My favorite project for my favorite little artist. It will help him organize all his artwork.</p>
										
										<p><a class="btn btn-dc btn-small btn-main-color" href="http://www.ooklasvecla.com" target="_blank">Visit Website</a></p>
										
									</div>
									
									<div class="col-6 offset-1 scrollimation fade-left">
										<img class="img-fluid" src="../assets/images/projects/ookla-svecla.png">
									</div>
									
								</div>
							</div>
							
						</section>
			<!-- ==============================================
				TOOLBOX
				=============================================== -->
				<section id="services" class="big-padding">
					
					<div class="container">
						
						<h1 class="section-title">My Toolbox</h1>
						<hr>
						<div class="text-center">
							<div class="btn-group">
								<button type="button" href="#front-end" class="btn btn-default toggle-tabs active">Front End</button>
								<button type="button" href="#back-end" class="btn btn-default toggle-tabs">Back End</button>
							</div>
						</div>
						
						<div class="tab-content">
							
							<div class="tab-pane active" id="front-end">
								<div class="row">
									<div class="col-12 col-sm-4 service-item scrollimation fade-left">
										
										<div class="service-icon "><i class="fa fa-html5"></i></div>
										
										<h3>HTML5</h3>
										
										<em>Clean Code</em>
										
										
									</div>
									
									<div class="col-12 col-sm-4 service-item scrollimation fade-left">
										
										<div class="service-icon "><i class="fa fa-css3"></i></div>
										
										<h3>CSS3</h3>
										
										<em>Modern Styles</em>
										
										
									</div>
									
									<div class="col-12 col-sm-4 service-item scrollimation fade-left">
										
										<div class="service-icon "><i class="fa fa-mobile"></i></div>
										
										<h3>Bootstrap</h3>
										
										<em>Responsive Design</em>
										
									</div>
								</div>
							</div>
							
							<div class="tab-pane" id="back-end">
								<div class="row">
									<div class="col-12 col-sm-4 service-item">
										
										<div class="service-icon"><i class="fa fa-diamond"></i></div>
										
										<h3>Ruby on Rails</h3>
										
										<em>High Performance</em>
										
										
									</div>
									
									<div class="col-12 col-sm-4 service-item">
										
										<div class="service-icon"><i class="fa fa-database"></i></div>
										
										<h3>Postgres</h3>
										
										<em>Data processing</em>
										
										
									</div>
									
									<div class="col-12 col-sm-4 service-item">
										
										<div class="service-icon"><i class="fa fa-cloud" aria-hidden="true"></i></div>
										
										<h3>Heroku</h3>
										
										<em>Reliable Hosting</em>
										
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
					
					
				</section>
					<!-- ==============================================
					CALL TO ACTION
					=============================================== -->
					<section id="cta1" class="bg-main-color cta about-header">
						
						<div class="container text-center scrollimation fade-up">
							
							<p>Have questions?</p>
							
							<a class="btn btn-dc btn-white scrollto" [routerLink]="['/contact']">Contact Me</a>
							
						</div>
						
					</section>

					
					
						<!-- ==============================================
							CALL TO ACTION
							=============================================== -->
<!-- 							<section id="articles" class="bg-main-color cta">
								
								<div class="container text-center scrollimation fade-up">
									
									<p>What it takes to build a website</p>

									<a class="btn btn-dc btn-white scrollto" href="#contact">How It Works</a>					

									
								</div>
								
							</section> -->
							<app-footer></app-footer>
