			
							<!-- ==============================================
								ARTICLES
								=============================================== -->

								<!-- Website cost -->
								<section id="portfolio" class="big-padding gray-bg">
			
									<div class="container">
										<div class="row text-center">
					
											<h1 class="section-title">Website Components and Costs</h1>
											<p>To have your website up and running you will need three components:</p>
											
											<div class="row" id="">
						
												<div class="col-sm-4 service-item scrollimation fade-left">
							
													<div class="service-icon "><i class="fa fa-map-signs" aria-hidden="true"></i></div>
								
													<h3>Domain</h3>
								
													<em>Name for your website which is also called an URL. For example www.example.com</em>
								
								
												</div>
						
												<div class="col-sm-4 service-item scrollimation fade-left">
							
													<div class="service-icon "><i class="fa fa-cloud" aria-hidden="true"></i></div>
								
													<h3>Hosting</h3>
								
													<em>Hosting provider is a fancy name for an online place where your website is stored and processed.</em>
								
								
												</div>
							
												<div class="col-sm-4 service-item scrollimation fade-left">
							
													<div class="service-icon "><i class="fa fa-file-code-o" aria-hidden="true"></i></div>
								
													<h3>Code</h3>
								
													<em>Website itself which is files with the code.</em>
								
												</div>
							
											</div>
										</div>
										<hr>
										<div class="row push-down">
					
											<div class="col-sm-7 scrollimation fade-right">
						
												<h2 class="row-title">Domain</h2>
							
												<p>Google Domains is one of the services that let you register your website’s name. The prices start from $12 per year.
												</p>
						
												<p><a class="btn btn-dc btn-small btn-main-color" href="https://domains.google.com" target="_blank">Choose your domain</a></p>
						
											</div>
					
											<div class="col-sm-4 scrollimation fade-left">
												<img class="img-responsive" src="../assets/images/domains.png">
						
											</div>
					
										</div>
										<div class="row push-down">
					
											<div class="col-sm-4 scrollimation fade-right">
												<img class="img-responsive" src="../assets/images/hosting.png">
						
											</div>
											<div class="col-sm-7 scrollimation fade-left">
						
												<h2 class="row-title">Hosting</h2>
							
												<p>Hosting pricing is a little bit more complex. </p>
													<p>It depends on the website and on how many users visit it. It can go up to several hundred. Do not be scared by this cost. You would have to have an extremely complex website with thousands of visitors, in order for the price to reach that number. </p>
													<p>For example, on Heroku (hosting that I prefer and use) simple website can be hosted on a basic plan for just <b>$7 per month</b>. Moreover, since you pay only for what you use, it might be even less than $7.</p>
						
												<p><a class="btn btn-dc btn-small btn-main-color" href="https://www.heroku.com/pricing?c=70130000001xDpdAAE&gclid=CjwKEAiAlNbEBRCv9uy4j4SWrgwSJAB5MqJFd044tqR1MED68ya4quJ3UTwht3kJXH9oC-R3qyT4kBoCqZvw_wcB" target="_blank">Heroku Pricing</a></p>
						
											</div>
					
										</div>
										<div class="row push-down">
					
											<div class="col-sm-7 scrollimation fade-right">
						
												<h2 class="row-title">Development</h2>
							
												<p>Price of the development can vary <b>from $300 to $1500</b> depending on the complexity and functionality of your website. Below you can find an <a class="scrollto" href="#website-categories">article</a> in which I tried to categorize websites by complexity.</p>
												<p>I stop at $1500 because, in my opinion, a website that has such a sophisticated functionality and requires more development time and effort should, most certainly, be maintained constantly. Which means you might consider hiring a permanent web developer for your business.
</p>
						
											</div>
					
											<div class="col-sm-4 scrollimation fade-left">
												<img class="img-responsive" src="../assets/images/code.png">
						
											</div>
					
										</div>

									</div>
								</section>
								
								<!-- Website categories -->
								<section id="website-categories" class="big-padding gray-bg">
			
									<div class="container">
										<div class="row text-center">
					
											<h1 class="section-title">Websites Categories</h1>
											<p>The cost and development time depends on the complexity of your website. I described some of the common types of websites. This way you can plan your budget.</p>
										</div>
										<hr>
										<div class="row push-down">
					
											<div class="col-sm-7 scrollimation fade-right">
						
												<h2 class="row-title">Informational website</h2>
							
												<p><b>Purpose:</b> The purpose of an informational website is simply to tell the world about you and your business.</p>
												<p><b>Description:</b> It might be just a one page website that contains description of your services and how to contact you. Information on such websites does not have to be changed very often and usually it is done inside the code.
												</p>
												<p><b>Complexity:</b> This is the most simple type of websites that does not require a database or constant maintenance.
												</p>
												<p><b>Time:</b> It can be done in 3-7 days depending on the amount of information and design.
												</p>
												<p><b>Cost:</b> $75-150
												</p>
						
												<p><a class="btn btn-dc btn-small btn-main-color" href="http://alphamensedge.com/" target="_blank">See Example</a></p>
						
											</div>
					
											<div class="col-sm-4 scrollimation fade-left">
												<img class="img-responsive" src="../assets/images/informational.png">
						
											</div>
					
										</div>
										<div class="row push-down">
					
											<div class="col-sm-4 scrollimation fade-right">
												<img class="img-responsive" src="../assets/images/dynamic.png">
						
											</div>
											<div class="col-sm-7 scrollimation fade-left">
						
												<h2 class="row-title">Dynamic content website</h2>
							
												<p><b>Purpose:</b> Systematically provide users with new information.</p>
												<p><b>Description:</b> Contents of dynamic websites is updated often: writing new articles, posting new recipes, uploading new pictures. Websites like that have a database where all the content is stored and retrieved from. They also have a login system with at least one user (admin) who can login and create/edit/delete the content. 
												</p>
												<p><b>Complexity:</b> Dynamic websites include database and user login system. It takes a little bit more time to set everything up.
												</p>
												<p><b>Time:</b> You can expect 1-2 weeks of work and 3-7 days of testing before your site can go live.</p>
												<p><b>Cost:</b> $300-600
						
												<p><a class="btn btn-dc btn-small btn-main-color" href="http://www.ooklasvecla.com" target="_blank">See Example</a></p>
						
											</div>
					
										</div>
										<div class="row push-down">
					
											<div class="col-sm-7 scrollimation fade-right">
						
												<h2 class="row-title">Interactive website</h2>
							
												<p><b>Purpose:</b> Process users’ requests.</p>
												<p><b>Description:</b> Interactive website is an advanced dynamic content website. The difference is that interactive websites do not only provide information, but also let your customers perform some tasks such as request and schedule services,  post their own articles, leave comments, etc. 
												</p>
												<p><b>Complexity:</b>  Interactive websites have more complex login system that gives different privileges to different users. For example, visitors can add posts and leave comments, but only admin can manage the entire content of the website.</p>
												<p><b>Time:</b> The development period depends greatly on the website functionality. Roughly, it will take 2-4 weeks to build an interactive website and one week to test it. 
												</p>
												<p><b>Cost:</b> $600
						
												<p><a class="btn btn-dc btn-small btn-main-color" href="https://www.reddit.com" target="_blank">See Example</a></p>
						
											</div>
					
											<div class="col-sm-4 scrollimation fade-left">
												<img class="img-responsive" src="../assets/images/interactive.png">
						
											</div>
					
										</div>
										<div class="row push-down">
					
											<div class="col-sm-4 scrollimation fade-right">
												<img class="img-responsive" src="../assets/images/ecommerce.png">
						
											</div>
											<div class="col-sm-7 scrollimation fade-left">
						
												<h2 class="row-title">E-Commerce</h2>
							
												<p><b>Purpose:</b> Sell you products to customers.</p>
												<p><b>Description:</b> It has login system and privileges as an interactive website plus it should perform financial transactions. Your users should be able to buy your products and pay for it online.
												</p>
												<p><b>Complexity:</b> As for now, I am not working on e-commerce projects. E-commerce websites require a higher level of security and continuous maintenance. If you are planning an ecommerce business you might consider hiring a permanent developer. </p>
												<p> There is an exception: if your stock contains just a few products and you are going to use only PayPal as a payment method. Websites with PayPal integration do not require additional security methods because all transactions are happening on the third party website (PayPal).
												</p>
											</div>
					
										</div>
									</div>
								</section>