<section id="contact" class="big-padding">
	<div class="container">
		<h1 class="section-title">Contact Me</h1>
		<div class="row">
			<div class="col-12 scrollimation fade-right text-center">
				<p class="lead">Can&#39;t wait for the next exciting project! Could it be yours?</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 scrollimation fade-right text-center">
				<h1>Natasha Sukhinina</h1>
				<p><a class="mail-styled" href="tel:2145577622">(214) 557-7622</a></p>
				<div class="social-links">
					<a href="https://twitter.com/_nysmoon_" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
					<a href="https://www.facebook.com/uxupbusiness" target="_blank"><i class="fa fa-fw fa-facebook-square"></i></a>
					<a href="https://www.linkedin.com/in/natashasukhinina" target="_blank"><i class="fa fa-fw fa-linkedin-square" target="_blank"></i></a>
				</div>
				<p><a class="mail-styled" href="mailto:info@uxup.business">info@uxup.business</a></p>
			</div>
		</div>
	</div>
</section>
