<section id="portfolio" class="big-padding gray-bg">

	<div class="container text-center">

		<h1 class="section-title">Website Components</h1>
		<hr>
		<p class="margin-top scrollimation fade-right">To have your website up and running you will need three components: domain, hosting, and code.</p>


		<div class="row">

			<div class="col-sm-4 service-item scrollimation fade-left">

				<div class="service-icon "><i class="fa fa-map-signs" aria-hidden="true"></i></div>

				<h3>Domain</h3>

				<em>Name for your website which is also called an URL. For example www.example.com</em>
				<p class="text-muted"><small>Price starts at:</small> $10-12 per year</p>
				<em>Depends on the seller and extension (.com, .org, etc).</em>


			</div>

			<div class="col-sm-4 service-item scrollimation fade-left">

				<div class="service-icon "><i class="fa fa-cloud" aria-hidden="true"></i></div>

				<h3>Hosting</h3>

				<em>Hosting provider is a fancy name for an online place where your website is stored and processed.</em>
				<p class="text-muted"><small>Average price:</small> $10 per year</p>
				<em>Depends on the hosting provider and duration of the agreement.</em>


			</div>

			<div class="col-sm-4 service-item scrollimation fade-left">

				<div class="service-icon "><i class="fa fa-file-code-o" aria-hidden="true"></i></div>

				<h3>Code</h3>

				<em>Website itself which is files with the code.</em>
				<p class="text-muted"><small>Price starts at:</small> $75</p>
				<em>Depends on the complexity.</em>

			</div>

		</div>

	</div>
</section>



<!-- Website categories -->
<section id="website-categories" class="gray-bg">

	<div class="container text-center">

		<h1 class="section-title">Websites Categories</h1>
		<hr>
		<p>The cost and development time depends on the complexity of your website. I described some of the common types of websites, so you can plan your budget.</p>
	</div>
	<section id="cta1" class="bg-main-color cta about-header">

		<div class="container text-center scrollimation fade-up">

			<p>Informational Websites</p>
			<em>Informational websites have one single purpose, which is tell your customers about your business.</em>
		</div>

	</section>
	<div class="container">
		<div class="row push-down">

			<div class="col-sm-7 scrollimation fade-right">

				<h2 class="row-title">One Page Website</h2>

				<p><b>Description:</b> This is just a one page website that contains information about your business, description of your services, and how to contact you. </p>
				<p><b>Time:</b> <span class="text-success">3-5 days.</span></p>
				<p><b>Cost:</b> <span class="text-success">$75</span></p>

				<p><a class="btn btn-dc btn-small btn-main-color" href="http://alphamensedge.com/" target="_blank">See Example</a></p>

			</div>

			<div class="col-sm-4 scrollimation fade-left">
				<img class="img-fluid" src="../assets/images/informational.png">
			</div>

		</div>

		<div class="row push-down">

			<div class="col-sm-4 scrollimation fade-right">
				<img class="img-fluid" src="../assets/images/dynamic.png">

			</div>
			<div class="col-sm-7 scrollimation fade-left">

				<h2 class="row-title">Website containing several pages</h2>

				<p><b>Description:</b> If you have a lot of information that you want to publish on your website, you would probably want to separate it into different pages. To build a navigation menu for your website I use Angular2 platform. It allows you to navigate from page to page without the need to reload the website every time.</p>
				<p><b>Time:</b> <span class="text-success">5-7 days.</span></p>
				<p><b>Cost:</b> <span class="text-success">$125</span></p>

				<p><a class="btn btn-dc btn-small btn-main-color" (click)="showExample = !showExample">See Example</a></p>
				<em class="fade" [class.show]="showExample">You are already looking at it. <br />My website is an example of Angular2 website with navigation ;)</em>

			</div>

		</div>
	</div>
	<section id="cta1" class="bg-main-color cta about-header">

		<div class="container text-center scrollimation fade-up">

			<p>Interactive Websites</p>
			<em>Interactive websites are not just for information. Such websites let you post new articles, get feedback or comments from your users, process payments.</em>
		</div>

	</section>
	<div class="container text-center">

		<p class="margin-top scrollimation fade-right">There are two ways to build an interactive website: using WordPress or from scratch. </p>

		<div class="row">

			<div class="col-sm-6 service-item scrollimation fade-left">

				<div class="service-icon "><i class="fa fa-wordpress" aria-hidden="true"></i></div>

				<h3>WordPress</h3>

				<em>WordPress is a prebuilt platform that saves effort and time for me, therefore it saves money for you. However, the functionality and design of your website will be limited to what plugins are available. If you have standard requirements for your website, WordPress is an option for you.</em>

			</div>

			<div class="col-sm-6 service-item scrollimation fade-left">

				<div class="service-icon "><i class="fa fa-code" aria-hidden="true"></i></div>

				<h3>Custom Built</h3>

				<em>If you plan to expand your website, add new features and functions in the future, or you have some particular design in mind, you might want to build your website from scratch using programing languages. That way you can fully customize it to meet any of your requirements.</em>


			</div>

		</div>

	</div>
	<div class="container">
		<div class="row push-down">

			<div class="col-sm-7 scrollimation fade-right">

				<h2 class="row-title">Blog Style Website</h2>

				<p><b>Description:</b> If you want to regularly update your users or customers with new information like recipes, articles, your company news, then blog style website is for you.</p>
				<p><b>Time:</b> <span class="text-success">3-5 days.</span></p>
				<p><b>Cost:</b> <span class="text-success">Starts at $100</span> for WordPress based website.</p>

				<p><a class="btn btn-dc btn-small btn-main-color" href="http://www.ooklasvecla.com/" target="_blank">See Example</a></p>

			</div>

			<div class="col-sm-4 scrollimation fade-left">
				<img class="img-fluid" src="../assets/images/interactive.png">

			</div>

		</div>
		<div class="row push-down">

			<div class="col-sm-4 scrollimation fade-right">
				<img class="img-fluid" src="../assets/images/ecommerce.png">

			</div>
			<div class="col-sm-7 scrollimation fade-left">

				<h2 class="row-title">E-Commerce</h2>

				<p><b>Description:</b> Sell your products online. It&#39;s that simple!</p>
				<p><b>Time:</b> <span class="text-success">5-7 days.</span></p>
				<p><b>Cost:</b> <span class="text-success">Starts at $150</span> for WordPress based website.</p>
			</div>

		</div>
	</div>

</section>

<section id="cta1" class="bg-main-color cta about-header">

	<div class="container text-center scrollimation fade-up">

		<p>Need a website that is built particularly for your business requirements?</p>

		<a class="btn btn-dc btn-white scrollto" [routerLink]="['/contact']">Ask Me About It</a>

	</div>

</section>

<app-footer></app-footer>
