<!-- Website categories -->
<section id="website-categories" class="gray-bg big-padding">

	<div class="container text-center">

		<h1 class="section-title">My Services</h1>
		<hr>
		<p>The cost and development time depends on the complexity of your website. I described some of the common types of websites, so you can plan your budget.</p>
	</div>
	<section id="cta1" class="bg-main-color cta about-header">

		<div class="container text-center scrollimation fade-up">

			<p>Website Components</p>
			<em>To have your website up and running you will need three components: domain, hosting, and code. I will help you with each of them.</em>
		</div>

	</section>
	<section id="portfolio" class="gray-bg">

		<div class="container text-center">

			<div class="row">

				<div class="col-sm-4 service-item scrollimation fade-left">

					<div class="service-icon "><i class="fa fa-map-signs" aria-hidden="true"></i></div>

					<h3>Domain</h3>

					<em>Name for your website which is also called an URL. For example www.example.com</em>
					<p class="text-muted"><small>Average Price:</small> $12 per year</p>
					<em>Depends on the seller and extension (.com, .org, etc).</em>


				</div>

				<div class="col-sm-4 service-item scrollimation fade-left">

					<div class="service-icon "><i class="fa fa-cloud" aria-hidden="true"></i></div>

					<h3>Hosting</h3>

					<em>Hosting provider is a fancy name for an online place where your website is stored and processed.</em>
					<p class="text-muted"><small>Average price:</small> $5 per month</p>
					<em>Depends on the hosting provider and duration of the agreement.</em>


				</div>

				<div class="col-sm-4 service-item scrollimation fade-left">

					<div class="service-icon "><i class="fa fa-file-code-o" aria-hidden="true"></i></div>

					<h3>Code</h3>

					<em>Website itself which is files with the code.</em>
					<p class="text-muted"><small>Price:</small> $75-360</p>
					<em>Depends on the complexity.</em>

				</div>

			</div>

		</div>
	</section>
	<section id="cta1" class="bg-main-color cta about-header">

		<div class="container text-center scrollimation fade-up">

			<p>Website</p>
			<em>From simple web pages to fully functional online store.</em>
		</div>

	</section>
	<div class="container">
		<div class="row push-down">

			<div class="col-sm-7 scrollimation fade-right">

				<h2 class="row-title">One Page Website</h2>

				<p><b>Description:</b> This is just a one page website that contains information about your business, description of your services, and how to contact you. </p>

				<p><a class="btn btn-dc btn-small btn-main-color" href="http://stretchingbeyondlimits.com" target="_blank">See Example</a></p>

			</div>

			<div class="col-sm-4 scrollimation fade-left">
				<img class="img-fluid" src="../assets/images/informational.png">
			</div>

		</div>

		<div class="row push-down">

			<div class="col-sm-4 scrollimation fade-right">
				<img class="img-fluid" src="../assets/images/dynamic.png">

			</div>
			<div class="col-sm-7 scrollimation fade-left">

				<h2 class="row-title">Website containing several pages</h2>

				<p><b>Description:</b> If you have a lot of information that you want to publish on your website, you would probably want to separate it into different pages.</p>

				<p><a class="btn btn-dc btn-small btn-main-color" (click)="showExample = !showExample">See Example</a></p>
				<em class="fade" [class.show]="showExample">You are already looking at it. <br />My website is an example of Angular website with navigation ;)</em>

			</div>

		</div>
	</div>
	<div class="container">
		<div class="row push-down">

			<div class="col-sm-7 scrollimation fade-right">

				<h2 class="row-title">Blog Style Website</h2>

				<p><b>Description:</b> If you want to regularly update your users or customers with new information like recipes, articles, your company news, then blog style website is for you.</p>

				<p><a class="btn btn-dc btn-small btn-main-color" href="http://www.ooklasvecla.com/" target="_blank">See Example</a></p>
				<p><a class="btn btn-dc btn-small btn-main-color" href="http://larisadostal.com/" target="_blank">See Example</a></p>

			</div>

			<div class="col-sm-4 scrollimation fade-left">
				<img class="img-fluid" src="../assets/images/interactive.png">

			</div>

		</div>
		<div class="row push-down">

			<div class="col-sm-4 scrollimation fade-right">
				<img class="img-fluid" src="../assets/images/ecommerce.png">

			</div>
			<div class="col-sm-7 scrollimation fade-left">

				<h2 class="row-title">E-Commerce</h2>

				<p><b>Description:</b> Sell your products online. It&#39;s that simple!</p>
			</div>

		</div>
	</div>

</section>
	<section id="cta1" class="bg-main-color cta about-header">

		<div class="container text-center scrollimation fade-up">

			<p>Utilities</p>
			<em>Recipe for success!</em>
		</div>

	</section>
	<section id="portfolio" class="gray-bg">

		<div class="container text-center">

			<div class="row">

				<div class="col-sm-4 service-item scrollimation fade-left">

					<div class="service-icon "><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>

					<h3>QA</h3>
					<em>Every website goes through Quality Assurance process before being released.</em>
				</div>

				<div class="col-sm-4 service-item scrollimation fade-left">

					<div class="service-icon "><i class="fa fa-google" aria-hidden="true"></i></div>

					<h3>SEO</h3>

					<em>On-page Search Engine Optimization includes a thorough research on keywords and including the most suitable into your website's pages. It allows search engines, such as Google, to place your page higher in users' search.</em>

				</div>

				<div class="col-sm-4 service-item scrollimation fade-left">

					<div class="service-icon "><i class="fa fa fa-user-md" aria-hidden="true"></i></div>

					<h3>Tech Support</h3>

					<em>I am always happy to help you with any issues!</em>
				</div>

			</div>

		</div>
	</section>
<section id="cta1" class="bg-main-color cta about-header">

	<div class="container text-center scrollimation fade-up">

		<p>Need a website that is built particularly for your business requirements?</p>

		<a class="btn btn-dc btn-white scrollto" [routerLink]="['/contact']">Ask Me</a>

	</div>

</section>

<app-footer></app-footer>