<ul [ngClass]="navClass">

<li class="nav-item">
	<a class="scrollto nav-link" [routerLink]="['home']"><i class="fa fa-home" aria-hidden="true"></i>UX-Up</a>
</li>
<li class="nav-item">
	<a class="scrollto nav-link" [routerLink]="['about']"><i class="fa fa-graduation-cap" aria-hidden="true"></i>About</a>
</li>
<li class="nav-item">
	<a class="scrollto nav-link" [routerLink]="['pricing']"><i class="fa fa-money" aria-hidden="true"></i>Pricing</a>
</li>
<li class="nav-item">
	<a class="scrollto nav-link" [routerLink]="['how-it-works']"><i class="fa fa-handshake-o" aria-hidden="true"></i>How It Works</a>
</li>
<li class="nav-item">
	<a class="scrollto nav-link" [routerLink]="['contact']"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a>
</li>
</ul>
