<ul [ngClass]="navClass">

	<li class="nav-item">
		<a class="scrollto nav-link" [routerLink]="['home']" [routerLinkActive]="['active']"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
	</li>
	<li class="nav-item">
		<a class="scrollto nav-link" [routerLink]="['services']" [routerLinkActive]="['active']"><i class="fa fa-desktop" aria-hidden="true"></i> Services</a>
	</li>
	<li class="nav-item">
		<a class="scrollto nav-link" [routerLink]="['about']" [routerLinkActive]="['active']"><i class="fa fa-graduation-cap" aria-hidden="true"></i> About Me</a>
	</li>
	<li class="nav-item">
		<a class="scrollto nav-link" [routerLink]="['contact']" [routerLinkActive]="['active']"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a>
	</li>
</ul>
