<ul class="nav navbar-nav" [ngClass]="navClass">

<li>
	<a class="scrollto" [routerLink]="['home']"><i class="fa fa-home" aria-hidden="true"></i>UX-Up</a>
</li>
<li>
	<a class="scrollto" [routerLink]="['about']"><i class="fa fa-graduation-cap" aria-hidden="true"></i>About</a>
</li>
<li>
	<a class="scrollto" [routerLink]="['how-it-works']"><i class="fa fa-handshake-o" aria-hidden="true"></i>How It Works</a>
</li>
<li>
	<a class="scrollto" [routerLink]="['contact']"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a>
</li>
</ul>
