/* You can add global styles to this file, and also import other style files */


/* UXUP STYLES*/

.big-padding {
	padding: 120px 0 30px;
}


/* ---=== Home Page ===--- */

#home-page {
	position: relative;
	height:100%;
	min-height:860px;
	margin-bottom:-64px;
	background: url('assets/images/particles.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-size: cover;
	overflow: hidden;
}

.sub-header {
	color: #fff;
}

.cta-home {
	margin-top: 60px;
	border-radius: 5px;
	padding: 60px 0;
}

/* ---=== About Page ===---- */

.service-item {
	display: inline-block;
}

.service-item img {
	width: 80%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.cta {
	margin: 30px 0;
}


.color-overlay:before {
	opacity: 0;
}