
<section id="home-page" class="big-padding">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-7 offset-md-1">

				<h2 class="scrollimation fade-down d3 main-color">Start your business right</h2>
				<h1 class="scrollimation fade-down d1 sub-header">Build a website</h1>
				<div class="cta cta-home">
					<div class="container text-center scrollimation fade-up">
				
						<a class="btn btn-dc btn-white scrollto" [routerLink]="['/pricing']">Tell me more...</a>
				
					</div>
				</div>

			</div>
			<div class="col-md-4 hidden-sm-down">
				<div class="header-img scrollimation fade-up d1">
					<img class="img-fluid" src="../assets/images/logo.png">
				</div>
			</div>

		</div>
	</div>

</section>