<section id="website-categories" class="gray-bg big-padding">

	<div class="container text-center">

		<h1 class="section-title">Web Development Company</h1>
		<hr>
<!-- 		<h2 class="row-title">Welcome to my website</h2> -->
		<em>I will create a website for you to match your needs: from simple web pages to fully functional online store.</em>
	</div>
<!-- 	<section id="cta1" class="bg-main-color cta about-header">
		<div class="container text-center scrollimation fade-up">
			<p>Web Development Company</p>
			<em>I will create a website for you to match your needs: from simple web pages to fully functional online store.</em>
		</div>
	</section> -->
	<div class="container">
		<div class="row push-down">
			<div class="col-6 scrollimation fade-right">
				<img class="img-fluid" src="../assets/images/children.jpg">
			</div>
			<div class="col-6 scrollimation fade-left">
				<h2 class="row-title ul-title">What I Do</h2>
				<ul>
					<li>Website from start to end</li>
					<li>Quality assurance</li>
					<li>SEO</li>
					<li>Statistics of visits / Analytics</li>
					<li>Tech support</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="cta1" class="bg-main-color cta about-header">

	<div class="container text-center scrollimation fade-up">

		<p>Ready to learn more?</p>

		<a class="btn btn-dc btn-white scrollto" [routerLink]="['/services']">Check Out My Services</a>

	</div>

</section>

<app-footer></app-footer>