
<section id="home-page" class="big-padding">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-7 offset-md-1">

				<h1 class="scrollimation fade-down d1">UX-Up</h1>
				<h2 class="scrollimation fade-down d3"><span class="main-color">W</span>eb <span class="main-color">D</span>evelopment with <span class="main-color"><b>&#60;style&#62;</b></span> </h2>
				<div class="cta cta-home bg-main-color">
									<div class="container text-center scrollimation fade-up">
				
					<p>Tell the Internet about yourself.<br />Get a website built just for you.</p>
					
					<a class="btn btn-dc btn-white scrollto" [routerLink]="['/pricing']">Let&#39;s get started</a>
				
				</div>
				</div>

			</div>
			<div class="col-md-4 hidden-sm-down">
				<div class="header-img scrollimation fade-up d1">
					<img class="img-fluid" src="../assets/images/angel-small.png">
				</div>
			</div>

		</div>
	</div>

</section>